title {
    text-align: center;
}

body {
    text-align: center;
    background-color: #71d4c7;
}

.myForm {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
}

.thisFlexboxRow {
    text-align: center;
    background-color:rgb(79, 72, 47);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/* split into three equal columns */
.thisFlexboxColumn {
    display: flex;
    background-color:rgb(79, 72, 47);
    flex: 40% 20% 20%;
    padding: 20px;
    flex-direction: column;
}
/* Media query - on screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .myflexboxRow {
      flex-direction: column;
    }
}