body
{
 background-color: gray;   
}

.flexboxRow {
    display: flex;
    width: 400px;
    flex-wrap: wrap;
    flex-flow: row;

}

.firstFlexboxColumn {
    display: flex;
    flex-basis: 100%;
    width: 0;
    padding: 20px;
    flex-direction:column;
}

.firstFlexboxColumn {
    display: flex;
    background-color: #EBF7E3;
    flex: auto;
    flex-direction: column;
    flex-shrink: 3;
}

.secondFlexboxColumn {
    display: flex;
    flex: auto;
    padding: 20px;
    flex-direction: column;
}

@media screen and (max-width: 600px) {
    .myflexboxRow {
      flex-direction: column;
    }
}